<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- 1.读取数据库配置文件  -->
        <import resource="spring-config.xml"/>
        <!-- 2.加载静态资源 -->
        <bean class="com.hsy.java.util.resources.JavaResourceHelper"></bean>
</beans>